{% extends "base.html" %}


{% block content %}

<div class="container"><br>
<h3 align='center'> All BoysWears</h3>
<hr>

<table width=100% border=1 cellspacing="0" cellpadding="10">
{% for i in lst6 %}

<tr align='center'>
<td width=40% > <h5> {{i.name}}</h5>
<img src="{{i.photo.url}}" width=200 height=200 alt="BoysWear From My garment shop"/>
</td>

<td width=60% align='center'>
<h5> Product Details: </h5>
Name:{{i.name}} <br>
Price:{{i.price}} <br>
Quality:{{i.stock}} <br>
Description:{{i.desc}} <br><br>
<button type="button" class="btn btn-outline-danger">BUY</button>
<a href="#" class="btn btn-info ">
<span class="glyphicon glyphicon-shopping-cart"> </span> Add To Cart
</a>
</td>
</tr>



{% endfor %}
</table>
</div>


{% endblock %}